#alias backuprc='cp .zshrc ./dotfiles/zshrc-$(date +\%Y-\%m-\%d_\%H\%M).txt'
alias o="open ."
#alias genpasswd='echo `env LC_CTYPE=C tr -dc "a-zA-Z0-9-_\$\?" < /dev/urandom | head -c 20`'
alias genpasswd='echo `env LC_CTYPE=C tr -cd "a-zA-Z0-9._#+!@%&-" < /dev/urandom | head -c 20`'
alias genpasswd4='echo `env LC_CTYPE=C tr -dc "a-zA-Z0-9" < /dev/urandom | head -c 4`'
alias genpasswd6='echo `env LC_CTYPE=C tr -dc "a-zA-Z0-9" < /dev/urandom | head -c 6`'
alias ping="command ping --apple-time"

alias pwg='keygen'
alias pwg2='keygen4x4'
alias pwg3='keygen6x3'
alias keygen2='keygen4x4'
alias keygen3='keygen6x3'

alias netdatamac='netdata -c /usr/local/etc/netdata/netdata.conf'
alias _netdata='netdata -c /usr/local/etc/netdata/netdata.conf'


alias ls="command gls -lhFX --color=always --group-directories-first"
#alias ls="command ls -lhF ${colorflag}"
#alias ls="command ls  ${colorflag}"
#alias ls="command gls -lhFX --color=always"
#alias ls="command gls -lhFX --color=always --sort=size" 

alias _time="printf '$(date +\%Y-\%m-\%d) \t$(date +\%H:\%M)\t'"  

alias cbdl='noglob youtube-dl -o "/Users/pascal/_cb/%(id)s/%(title)s.%(ext)s" --ignore-config --restrict-filenames --no-warnings --no-part '

alias pdl='noglob youtube-dl -o "/Users/pascal/_pr0n/%(uploader)s/%(height)sp_%(duration)s_%(title)s.%(ext)s" --ignore-config --write-info-json --no-warnings '

alias scdl='noglob youtube-dl -o "/Users/pascal/youtube-dl_tmp/%(uploader)s/%(title)s.%(ext)s" --ignore-config --restrict-filenames --write-description --write-info-json --write-thumbnail --add-metadata --embed-thumbnail --extract-audio --audio-format mp3 --audio-quality 0 '


alias brewupdate='brew update && brew upgrade && brew cleanup'
alias masupdate="mas upgrade"
alias _update='brew update && brew upgrade && brew cleanup && mas upgrade && softwareupdate -l'
alias macupdate='sudo softwareupdate -i -a'



#alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print \$1' ; dig @resolver4.opendns.com myip.opendns.com +short "
alias ips='printf "Internal IP:\t"; ipconfig getifaddr en0; printf "External IP:\t"; dig @resolver4.opendns.com myip.opendns.com +short' 
alias ipinfo='echo WiFi:; printf "Internal IP:\t"; localipwifi ;printf "MAC address:\t" ; _macwifi ; printf "Gateway:\t"; _gwwifi ;  printf "Nameserver:\t";_dnswifi ; echo LAN:;printf "Internal IP:\t"; localiplan ;printf "MAC address:\t" ; _maclan ; printf "Gateway:\t"; _gwlan ;  printf "Nameserver:\t";_dnslan;  printf "\nExternal IP:\t"; externalip' 
alias localipwifi="ipconfig getifaddr en0"
alias localips="ifconfig | grep 'inet ' | grep -v 127.0.0.1 | cut -d\  -f2  "
alias externalip="dig @resolver4.opendns.com myip.opendns.com +short"
alias _dnswifi="ipconfig getsummary en0 | grep siaddr | cut -c 10- "
alias _macwifi="ipconfig getsummary en0 | grep chaddr | cut -c 10- "
alias _gwwifi="route -n get default | grep 'gateway' | awk '{print \$2}'"
alias localiplan="ipconfig getifaddr en6"
alias _dnslan="ipconfig getsummary en6 | grep siaddr | cut -c 10- "
alias _maclan="ipconfig getsummary en6 | grep chaddr | cut -c 10- "
alias _gwlan="route -n get default | grep 'gateway' | awk '{print \$2}'"


alias mkdirtime='mkdir $(date +\%Y-\%m-\%d_\%H\%M)'   

alias iperf3t="echo '############################################\niperf3 -c 10.0.0.10 -t 10 -i 1 -R\n############################################\n\n'; iperf3 -c 10.0.0.10 -t 10 -i 1 -R"
alias iperf3u="echo '############################################\niperf3 -c 10.0.0.10 -t 10 -i 1 -R -u\n############################################\n\n'; iperf3 -c 10.0.0.10 -t 10 -i 1 -R -u"
alias iperft="echo '############################################\niperf -c 10.0.0.10 -t 10 -i 1\n############################################\n\n'; iperf -c 10.0.0.10 -t 10 -i 1" 
alias iperfu="echo '############################################\niperf -c 10.0.0.10 -u -t 10 -i 1\n############################################\n\n'; iperf -c 10.0.0.10 -u -t 10 -i 1"  
#alias iperftcp='iperf -c 10.0.0.10'
#alias iperftcp1='iperf -c 10.0.0.10 -t 30 -i 5'
#alias iperfudp='iperf -c 10.0.0.10 -u -b 1300m'
#alias iperfudp1='iperf -c 10.0.0.10 -u -b 1300m -t 30 -i 5'

#### Functions
#md5sum filename


#alias _dotupdate='cd && mkdir dotfiles; cp .zshrc ./dotfiles/zshrc-$(date +\%Y-\%m-\%d_\%H\%M).txt && sudo curl https://raw.githubusercontent.com/pvscvl/dotfiles/main/.zshrc > tmpzshrc.txt && sudo cp tmpzshrc.txt .zshrc && rm tmpzshrc.txt'
alias _dotupdate='cd && sudo curl https://raw.githubusercontent.com/pvscvl/dotfiles/main/zsh/.zshrc > tmpzshrc.txt && sudo cp tmpzshrc.txt .zshrc && rm tmpzshrc.txt; curl https://raw.githubusercontent.com/pvscvl/dotfiles/main/zsh/.dotfiles/.aliases > ./.dotfiles/.aliases ; curl https://raw.githubusercontent.com/pvscvl/dotfiles/main/zsh/.dotfiles/.exports > ./.dotfiles/.exports ; curl https://raw.githubusercontent.com/pvscvl/dotfiles/main/zsh/.dotfiles/.functions > ./.dotfiles/.functions '

